<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url=/login">
    <title>Doorverwijzen...</title>
</head>
<body>
<p>U wordt doorverwezen naar de inlogpagina...</p>
<script>
    window.location.href = '/login';
</script>
</body>
</html>